@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Righteous', cursive;
}
:root{
    --bg:rgb(26, 23, 23);
    --label: rgba(230, 107, 230, 0.897);
    --btn1: rgb(226, 97, 97);
    --btn2: green;
    --btn1Hover: rgb(104, 207, 104);
    --btn2Hover: rgb(206, 7, 7);
}

body{
    background: var(--bg);
}

.labels{
    position: relative;
    bottom: 1rem;
    color:var(--label);
}
.container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    top: 5rem;
    justify-self: center;
    /* align-items: center; */
    margin: auto;
    padding: 3rem;
    height: 80vh;
    width: 90vw;
    border: .2rem solid red;
    border-radius: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.addBtn{
    position: relative;
    top: .5rem;
    width: 6rem;
    height: 2rem;
    border: none;
}
#btn{
    background-color:var(--btn2);
}
#btn:hover{
    background-color: var(--btn1Hover);
    font-size: 1rem;
}
#btn2:hover{
    background-color: var(--btn2Hover);
    font-size: 1rem;
}
#btn2{
    margin-top: .5rem;
    background-color: var(--btn1);
    width: 15rem;
}
input{
    display: flex;
    flex-wrap: wrap;
    /* width: 15rem;
    height: 2rem; */
    outline: none;
    padding: .5rem;
}
.showTotalDue{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12rem;
    bottom: 4rem;
    color: var(--label);
}
h1{
    margin-bottom: 1rem;
}
.dueBox {
    display: flex;
    flex-direction: column;
    color: red;
}
.track{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    padding: .2rem;
    color: green;
    font-style: italic;
    font-weight: bold;
    overflow-y: scroll;
}
.loadShow{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
    padding: .2rem;
    color: green;
    font-style: italic;
    font-weight: bold;
    overflow-y: scroll;
}
.para{
    display: flex;
    justify-content: space-around;
    margin: .23rem;
}